<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie Database Website</title>
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <header>
      <a href="/home"></a><h1>Movie Review Site</h1>

      <table>
        <tr>
          <td>
            <form id="search-bar" action=/search method="post">
              <input type="text" placeholder="Search Movie Database">
              <button type="submit">Search</button>
            </form>
          </td>
          <td>
            {{#if user}}
              <a href="/private" class="account">{{user.username}}</a>
            {{else}}
              <a href="/login" class="account">Sign Up/Log In</a>
            {{/if}}
          </td>
        </tr>
      </table>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      <p>Authors: E. Taber McFarlin, Matt Swentzel, John Hrabar, and Justin Zauderer</p>
      <p>Stevens ID: 10406368</p>
    </footer>
  </body>
</html>