<article class = "moviePage">
	<h2>{{this.title}}</h2>
	<a href={{this.link}}><img src={{this.poster}}></a>

	<table class="movieInfoTable">
		<tr>
			<th>Director </th>
			<td> {{</td>
		</tr>
		<tr>
			<td> Cast </td>
		</tr>
		<tr> 
			<td> Description </td>
		</tr>
		<tr> 
			<td> Rating </td>
		</tr>
	</table>
</article>