/* Document formatting */
html{
	position:relative; 
	min-height: 100%;
}

body {
	background: #FEFEFE;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Header */
header table {
	padding: 5px;
	background-color: #FFE57F;
	border: 5px;
	border-color: #FFC107;
	width: 100%;
}

.align-out td:nth-child(odd) {
	text-align: left;
}

.align-out td:nth-child(even) {
	text-align: right;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-bottom: 5px;
}

/* Titles */
a.title:link {
	color: red;
}

a.title:visited {
	color: red;
}

a.title:hover {
	color: pink;
}

a.title:active {
	color: purple;
}

/* Body formatting */
p {
	font-size: 12pt;
	line-height: 1.5;
}

form {
	font-size: 14pt;
}

/* Homepage */
table.homepage {
	min-width: 100%
}

table.movies {
	background-color: #E0E0E0;
	margin: 10px;
	width: 100%;
	overflow-x: scroll;
   	display:block;
}

table.movies td {
	padding-left: 10px;
}

table.movies img {
	height: 250px;
}

table.movies p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Login Error Box */
.login-error {
	border-radius: 25px;
	border: 2px solid #e03a3a;
	background: #F44542;
	padding: 15px; 
	width: max-content;
	height: max-content;
	margin: 15px;

	vertical-align: middle;
}

.login-error h3 {
	color: black;
	margin: 0;
}

.login-error text {
	color: black;
}

/* Footer */
footer {
	background-color: #F0F0F0;
	padding: 5px;
	margin-top: 15px;
	bottom: 0;
	left: 0;
	right: 0;
}

footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}