html{
  position:relative; 
  min-height: 100%;
}

body {
	background: #FEFEFE;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header table {
	padding: 5px;
	background-color: #FFE57F;
	border: 5px;
	border-color: #FFC107;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-bottom: 5px;
}

h1 {
	font-size: 24pt;
}

p {
	font-size: 12pt;
	line-height: 1.5;
}

form {
	font-size: 14pt;
}

.error {
	border-radius: 25px;
	border: 2px solid #e03a3a;
    background: #F44542;
    padding: 15px; 
    width: max-content;
    height: max-content;
    margin: 15px;

    vertical-align: middle;
}

.error h3 {
	color: black;
	margin: 0;
}

.error text {
	color: black;
}

ul {
	list-style-type: circle;
}

caption {
	text-align: center;
	background: none;
	display:block;
}

table.homepage: {
	background-color: #E0E0E0;
	max-width: 100%
}

table.movies {
	background-color: #E0E0E0;
	margin: 10px;
	width: 100%;
	text-align: left; 
	overflow-x: scroll;
  	height:150px;
   	display:block;
}

a.account {
	float: right;
}

footer {
	background-color: #F0F0F0;
	padding: 5px;
	margin-top: 15px;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;

}

footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}