/* Document formatting */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #FEFEFE;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* nav bar */

nav {
  padding: 5px;
  background-color: #FFE57F;
  border: 5px;
  border-color: #FFC107;
  width: 100%;
}

nav form {
  display: inline-block;
  margin: 0px;
}

nav div.accountLinks {
  display: block;
  float: right;
  padding: 0px;
  margin: 0px;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 5px;
}

/* Titles */

a.title:link {
  color: red;
}

a.title:visited {
  color: red;
}

a.title:hover {
  color: pink;
}

a.title:active {
  color: purple;
}

/* Body formatting */

p {
  font-size: 12pt;
  line-height: 1.5;
}

/* Movie Lists */

.movies div {
  background-color: #ebebeb;
  margin: 10px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  display: block;
}

.movies article {
  width: auto;
  display: inline-block;
  padding: 10px;
}

.movies img {
  height: 250px;
}

p.releaseDate {
  font-size: 16pt;
  font-weight: bold;
  margin: 0;
}

p.description {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 175px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* Movie Info Page */

div.moviePage {
  width: fit-content;
  display: inline-block;
}

section.movieInfo figure {
  display: inline-block;
  width: fit-content;
  margin: 10px;
}

section.movieInfo figure img {
  max-height: 400px;
  max-width: 300px;
}

section.movieInfo figure figcaption {
  font-weight: bold;
  font-size: 14pt;
}

section.movieInfo table {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin: 10px;
}

section.reviews {
  display: inline-block;
  padding: 10px;
  border: #333 solid 5px;
  width: fit-content;
  min-width: 50%;
}

section.reviews article {
  display: block;
  background: #e0e0e0;
  width: fit-content;
  max-width: 700px;
}

aside.movies {
  display: block;
  width: fit-content;
  height: 100%;
  float: right;
}

aside.movies div {
  white-space: normal;
  height: 1000px;
  overflow-y: scroll;
}

/* Form */

form {
  font-size: 14pt;
}

.form-error {
  border-radius: 25px;
  border: 2px solid #e03a3a;
  background: #f44542;
  padding: 10px;
  width: max-content;
  height: max-content;
  margin: 15px;
  vertical-align: middle;
}

.form-error text {
  color: black;
}

.form-error h3 {
  color: black;
  margin: 0;
}