/* Document formatting */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #FEFEFE;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* nav bar */

nav {
  padding: 5px;
  background-color: #FFE57F;
  border: 5px;
  border-color: #FFC107;
  width: 100%;
}

nav form {
  display: inline-block;
  margin: 0px;
}

nav div.accountLinks {
  display: block;
  float: right;
  padding: 0px;
  margin: 0px;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 5px;
}

/* Titles */

a.title:link {
  color: red;
}

a.title:visited {
  color: red;
}

a.title:hover {
  color: pink;
}

a.title:active {
  color: purple;
}

/* Body formatting */

p {
  font-size: 12pt;
  line-height: 1.5;
}

form {
  font-size: 14pt;
}

/* Movies */

section.movies div {
  background-color: #e0e0e0;
  margin: 10px;
  width: 100%;
  overflow-x: scroll;
  display: block;
}

section.movies article {
  width: auto;
  padding-left: 10px;
}

section.movies img {
  height: 250px;
}

p.releaseDate {
  font-size: 16pt;
  font-weight: bold;
}

p.description {
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Movie Info Page */

figure.moviePoster {
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

figure.moviePoster img {
  height: 400px;
}

figure.moviePoster figcaption {
  font-weight: bold;
  font-size: 14pt;
}

/* Form Error Box */

.form-error {
  border-radius: 25px;
  border: 2px solid #e03a3a;
  background: #f44542;
  padding: 10px;
  width: max-content;
  height: max-content;
  margin: 15px;
  vertical-align: middle;
}

.form-error text {
  color: black;
}

.form-error h3 {
  color: black;
  margin: 0;
}