<table class="user-data">
  <tr class="align-out">
    <td><h2>{{user.username}}</h2></td>
    <td>
      <a href="/logout">Not {{user.username}}? Logout.</a>
    </td>
  </tr>
</table>
<a href="/account/createMovie">Click here to add a movie</a>